<h1 id="dive">My Time at Epicodus</h1>

<div class="row">
  <div class="col-md-12">
    <%= image_tag("getro2.png", :id => "image1") %>
  <div class="col-md-">
    <%= image_tag("eat.gif", :id => "image11") %>
  </div>
  <div class="">
    <%= image_tag("sleep.gif", :id => "image11") %>
  </div>
  </div>
</div>
