  <div class="row">
    <div class="col-md-6">
      <%= image_tag("getro.jpeg", :id => "image") %>
    </div>
    <div class="col-md-6">
      <h1 id="dive" >The Original Plan</h1>
      <p>
        The plan was quite simple, obtain my bachelor's degree from the University of Florida and go on to complete a Juris Doctor degree at a prestigious law school. However, after completing the introductory computer science course from Harvard University (CS50) on a whim,  It dawned on me that a career in software development was the next best step in my professional development. I spent a full year learning the fundamentals of computer science by completing the FreeCodeCamp online bootcamp along with numerous MOOC Computer Science courses.
      </p>
      <div class="col-md-12">
        <h1 id="dive" >Inspiration</h1>
        <p>
          On a personal note, I am a lifelong learner  and I thoroughly enjoy the fact that I will constantly have to unlearn the outdated versions of certain programming languages and frameworks in order to stay abreast of the latest programming languages.  More importantly, I was drawn to the field due to its immense potential to solve some the most compelling challenges in this century.
        </p>
        <div class="col-md-12">
          <h1 id="dive">Outlook</h1>
          <p>
            I have a bachelor’s degree from the University of Florida (UF) and I have successfully completed the full-stack Ruby on Rails Mobile and Web development program at Epicodus. I am gungho to start applying my new skills to make this world a better place.
          </p>
        </div>
      </div>
    </div>
  </div>
